<nav class="container">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" ui-sref="home" ui-sref-active="active">Home</a>
    </li>
    <li class="nav-item" ng-if="!vm.user.username">
      <a class="nav-link" ui-sref="auth" ui-sref-active="active">Login/SignUp</a>
    </li>
    <li class="nav-item" ng-if="vm.user.username">
      <a class="nav-link cursor" ng-click="vm.logout()">Logout</a>
    </li>
  </ul>
</nav>

<div class="container" ui-view></div>

<footer>
  <div class="well">
    Copyright 2017
  </div>
</footer>
