// html,body {
//   height:100%;
// }
//
// .fp, layout, layout > [ui-view] {
//   flex: 1;
//   display: flex;
//   flex-direction: column;
//   min-height:100%;
// }
//
// .fp-container {
//   min-height:100%;
//   display:flex;
//   flex-direction: column;
//   > section {
//     flex: 1;
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//   }
// }
