<nav class="container">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" ui-sref="home" ui-sref-active="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="deckBuilder" ui-sref-active="active">Deck Builder</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="brainEaters" ui-sref-active="active">Brain Eaters</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="dogsList" ui-sref-active="active">Dogs List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="d3Demo" ui-sref-active="active">D3 Demo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="moAnimation" ui-sref-active="active">Mo Animation</a>
    </li>
  </ul>
</nav>

<div class="container" ui-view></div>

<footer>
  <div class="well">
    Copyright 2017
  </div>
</footer>
