@import 'variables/superhero.scss';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.cursor:hover {
  cursor: pointer;
}

.nav-link.active {
  text-decoration: underline;
}
