<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <base href="/">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js"></script>
    <link rel="stylesheet" href="client/styles/styles.css">
  </head>
  <body>
    <ui-view class="fp"></ui-view>
    <script src="client/dist/bundle.js"></script>
  </body>
</html>
