<h1>{{vm.title}}</h1>
<form ng-submit="vm.submit()" name="myForm" class="well">
  <div class="form-group row">
    <label class="col-form-label col-sm-2">First Name</label>
    <div class="col-sm-10">
      <input
        required
        class="form-control"
        type="text"
        name="firstName"
        ng-model="vm.formData.firstName"
        placeholder="First Name"
        ng-minlength="4"
        ng-maxlength="20"
        >
      <div ng-messages="myForm.firstName.$error" role="alert" class="bg-danger">
        <div ng-message="minlength">This field can be at most 4 characters long.</div>
        <div ng-message="maxlength">This field can be at most 20 characters long.</div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2">Last Name</label>
    <div class="col-sm-10">
      <input
        required
        class="form-control"
        type="text"
        name="lastName"
        ng-model="vm.formData.lastName"
        placeholder="Last Name">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2">Phone</label>
    <div class="col-sm-10">
      <input
        required
        class="form-control"
        type="tel"
        name="phone"
        ng-model="vm.formData.phone"
        ng-pattern="vm.phonePattern"
        placeholder="Phone"
        ng-change="vm.isPhone()">
        <div ng-messages="myForm.phone.$error" role="alert" class="bg-danger">
          <div ng-message="pattern">Please enter your phone number like this 1235558888.</div>
        </div>
    </div>
  </div>
  <button type="submit" name="button" class="btn btn-primary" ng-disabled="!!myForm.$pristine">Submit</button>
</form>

<pre>{{myForm | json:2}}</pre>
